/* Color Palette
Dark Green 032720
Beige faebd7
Light brown d99a6c
Black 000919
Purple-ish brown 563646
Dark blue 002f3e */

/* Psuedo Class examples
:active
:checked
:first
:first-child
:hover
:not()
:nth-child()
:nth-of-type() */

/* Psuedo Element exampls
::first-letter
:: */

/* example: "footer li" */ /* empty space means inside of */
/* example: input + button */ /* "+" means immediately following*/
/* footer > a */ /* "<" means direct descendant */



body{
    background-color: #faebd7;
    color: #563646;
}
::selection{
    background-color: #032720;
    color: white;
}
.flex-nav {
    padding: 1em;
}
.nav-bar{
    display: flex;
    justify-content: space-between;
    gap: 2em;
    list-style-type: none;
}
h1{
    text-align: center;
    font-weight: normal; /* 400 */
    text-decoration: 4px #d99a6c line-through wavy;
    letter-spacing: 15px;
    font-size: 80px;
    font-family: "Arial Narrow", Roboto, Candara, sans-serif;
    font-family: fantasy;
}
h2, h3{
    text-align: center;
    font-weight: normal; /* 400 */
    letter-spacing: 15px;
    font-size: 60px;
    font-family: fantasy;
}
.item a {
    text-decoration: none;
    color: #032720;
    background-color: rgb(86, 54, 70, .5);
}
.item p:first-of-type::first-letter{
        font-size: 4em;
}

p{
    line-height: 2;
}
p::selection{
    background-color: #563646;
    color: #faebd7;
}
button{
    font-size: 25px;
    background-color: #d99a6c;
}
form button:hover{
    font-size: 26px;
}
form button:active{
    background-color: #002f3e;
    color: #faebd7;
}
span{
    color: #002f3e;
}
#signup{
    background-color: #563646;
    color: #faebd7;
}
.tag{
    background-color: #032720;
    color: #faebd7;
    border-radius: 1em;
    font-size: 16px;
}

footer a{
    color: #000919;
}
footer li{ /* empty space means inside of */
    list-style: none;
}
input + button{ /* "+" means immediately following not that it's descended*/
    border: 2px solid #032720;
    color: #faebd7;
}
p + button{ 
    font-size: 20px;
    border: none;
    background-color: inherit;
}
p+button:hover{
    text-decoration: underline;
}
p+button:active{
    color: #d99a6c;
}

.item :nth-of-type(2){
    background-color: #002f3e;
    color: white;
}
.list :nth-child(3){
    background-color: #563646;
    color: white;
}

footer > a{ /* "<" means direct descendant */
    color: #d99a6c;
}
footer a{
    text-decoration: none;
}
footer a:active{
    color: #d99a6c;
}

input[type="text"]{
    color: #563646;
    line-height: 1.5;
}
textarea{
    color: #563646;
    line-height: 1.5;
}
a[href*="google"]{
    color: #032720;
}
header>form{
    /* display: inline; */
}
header>form>button{
    font-size: 17px;
}